<div class="container text-center mt-4 mb-4">
  <div class="row">
    <div class="col-md-12">
      <h2>Mestna občina</h2>
      <div class="input-group mb-3">
        <select class="form-select form-select-sm" id="mestnaObcina">
          <option value="0" selected>Izberi mestno občino ...</option>
          <option value="Ljubljana">Ljubljana</option>
          <option value="Maribor">Maribor</option>
          <option value="Kranj">Kranj</option>
          <option value="Celje">Celje</option>
          <option value="Novo mesto">Novo mesto</option>
          <option value="Velenje">Velenje</option>
          <option value="Nova Gorica">Nova Gorica</option>
          <option value="Krško">Krško</option>
          <option value="Ptuj">Ptuj</option>
          <option value="Murska Sobota">Murska Sobota</option>
          <option value="Slovenj Gradec">Slovenj Gradec</option>
        </select>
      </div>
      <h2>Kulturne dediščine</h2>
      <div id="kulturneDediscine">Ni kulturnih dediščin!</div>
    </div>
</div>